<div id="modal" class="modal-bg">
    <div class="modal">
        <div class="modal-inner">
            <div class="modal-close" title="Закрыть">x</div>

            <header class="modal-header">Длиный заголовок в несколько строк</header>

            <div class="modal-text">
                Выезд замерщика возможен через! Перезвоним - в ближайшие секунды! Засекайте! Выезд замерщика возможен через! Перезвоним - в ближайшие секунды! Засекайте! Выезд замерщика возможен через! Перезвоним - в ближайшие секунды! Засекайте!
            </div>

            <form id="modal-form" action="form-handler.php" class="modal-form" method="post">
                <input type="hidden" name="form_id" value="form_modal">
                <input type="hidden" name="form_name" value="Вызов замерщика">

                <input type="hidden" name="title" value="">
                <input type="hidden" name="content" value="">

                <div class="form-group">
                    <input type="text" name="name" value="" placeholder="Ваше имя" class="form-control">
                </div>

                <div class="form-group">
                    <input type="text" name="phone" value="" placeholder="Ваш телефон" class="form-control">
                </div>

                <div class="form-group">
                    <button type="submit" class="submit">Отправить форму</button>
                </div>
            </form>
        </div>
    </div>
</div>
