<div class="reviews">
    <div class="review-item">
        <div class="avatar">
            <img src="images/avatar.png" alt="">
        </div>

        <div class="body">
            <div class="user">Катрин (г. Аксай)</div>
            <div class="comment">Огромное спасибо команде Центра Потолочных Технологий за воплощение в реальность моих смелых идей с дизайном гостиной! Т.к. Все продумывала сама, очень нуждалась в помощи и советах специалистов. Сомнений и вопросов было очень много)))). Очень сомневалась, не будет ли слишком ярко смотреться мой красный потолок... Все получилось очень эффектно и красиво! К качеству работ претензий вообще нет! На отлично!!! От души, спасибо!!!!!!</div>
        </div>
    </div>

    <div class="review-item">
        <div class="avatar">
            <img src="images/avatar.png" alt="">
        </div>

        <div class="body">
            <div class="user">Семья Кришнитиных ( г. Ростов-на- Дону, ул. Батуринская, 165)</div>
            <div class="comment">Обратились в Центр Потолочных Технологий по рекомендации знакомых и не пожалели. Остались довольны. Все сделали в назначенный срок и за разумную цену. Спасибо всем! Удачи и процветания!</div>
        </div>
    </div>

    <div class="review-item">
        <div class="avatar">
            <img src="images/avatar.png" alt="">
        </div>

        <div class="body">
            <div class="user">Елена Степановна (г. Азов)</div>
            <div class="comment">Хочу поблагодарить Вас за качественную и в срок выполненную работу.  Работу оцениваю на 5+. Рекомендую всем! Желаю успехов и новых заказов!</div>
        </div>
    </div>

    <div class="review-item">
        <div class="avatar">
            <img src="images/avatar.png" alt="">
        </div>

        <div class="body">
            <div class="user">Кристина (Аксай, Садовая, 18а)</div>
            <div class="comment">Заказывала монтаж  потолков в ванную и на кухню. Оцениваю качество выполненных работ на отлично!!! Большое спасибо, и за обходительную и вежливую культуру обслуживания, и за ваш профессиональный подход. Буду обращаться к вам еще!</div>
        </div>
    </div>
</div>