<div class="container">
    <div class="row-3">
        <header class="row-3-header">
            <span class="red">7 главных причин</span><span class="blue">, почему нас рекомендуют</span><br> знакомым и друзьям
        </header>

        <div class="advantages">
            <div class="advantage">
                <div class="img"></div>
                <div class="body">
                    <header>100 % качество</header>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, distinctio vitae? Ad aliquid cum debitis quia vero?</div>
                </div>
            </div>

            <div class="advantage">
                <div class="img"></div>
                <div class="body">
                    <header>100 % качество</header>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, distinctio vitae? Ad aliquid cum debitis quia vero?</div>
                </div>
            </div>

            <div class="advantage">
                <div class="img"></div>
                <div class="body">
                    <header>100 % качество</header>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, distinctio vitae? Ad aliquid cum debitis quia vero?</div>
                </div>
            </div>

            <div class="advantage">
                <div class="img"></div>
                <div class="body">
                    <header>100 % качество</header>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, distinctio vitae? Ad aliquid cum debitis quia vero?</div>
                </div>
            </div>

            <div class="advantage">
                <div class="img"></div>
                <div class="body">
                    <header>100 % качество</header>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, distinctio vitae? Ad aliquid cum debitis quia vero?</div>
                </div>
            </div>

            <div class="advantage">
                <div class="img"></div>
                <div class="body">
                    <header>100 % качество</header>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, distinctio vitae? Ad aliquid cum debitis quia vero?</div>
                </div>
            </div>

            <div class="advantage">
                <div class="img"></div>
                <div class="body">
                    <header>100 % качество</header>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, distinctio vitae? Ad aliquid cum debitis quia vero?</div>
                </div>
            </div>
        </div>
    </div>
</div>