<div class="row-1">
    <div class="container">
        <div class="working-time">Режим работы без перерывов <br> и выходных с 8:00 до 20:00</div>

        <div class="grid">
            <div class="grid-left">
                <div class="tab-container">
                    <ul class='etabs'>
                        <li class='tab'><a href="#kitchen">Кухня</a></li>
                        <li class='tab'><a href="#bedroom">Спальня</a></li>
                        <li class='tab'><a href="#living-room">Гостинная</a></li>
                    </ul>

                    <div id="kitchen" class="tab-content">
                        <h2 class="tab-header">Натяжной потолок <span class="hg">на кухню</span><br> под ключ</h2>

                        <div class="grid">
                            <div class="left">
                                <div class="block-1">
                                    Площадь: <br>
                                    <span class="hg">9</span> м<span class="sup">2</span>
                                </div>
                                <div class="block-2">Под ключ</div>
                                <div class="block-3">
                                    <div class="price">
                                        Цена: <br>
                                        <span class="hg">3486</span> м<span class="sup">2</span>
                                    </div>
                                </div>
                            </div>

                            <div class="right">
                                <header>Смета</header>

                                <ul>
                                    <li>Площадь помещения 9 м2 — <strong>2250 руб</strong></li>
                                    <li>Дополнительные углы  - 0 штук — <strong>0 руб</strong></li>
                                    <li>Профиль по периметру 12 м — <strong>936 руб</strong></li>
                                    <li>Установка люстры на крюк 1 шт - <a href="#" class="hg">подарок</a></li>
                                    <li>Окантовка стояка отопления 1 шт - <strong>300 руб</strong></li>
                                </ul>

                                <img src="images/img-1.jpg" alt=""/>
                            </div>
                        </div>

                        <div class="text-center">
                            <a href="#" class="btn btn-red">Заказать по акции</a>
                        </div>

                        <div class="counter-wrapper">
                            <div class="counter-header">Внимание! До конца акции осталось:</div>
                            <div id="kitchen-counter" class="counter"></div>
                        </div>
                    </div>
                    <div id="bedroom" class="tab-content">
                        <h2 class="tab-header">Натяжной потолок <span class="hg">в спальню</span><br> под ключ</h2>

                        <div class="grid">
                            <div class="left">
                                <div class="block-1">
                                    Площадь: <br>
                                    <span class="hg">9</span> м<span class="sup">2</span>
                                </div>
                                <div class="block-2">Под ключ</div>
                                <div class="block-3">
                                    <div class="price">
                                        Цена: <br>
                                        <span class="hg">3486</span> м<span class="sup">2</span>
                                    </div>
                                </div>
                            </div>

                            <div class="right">
                                <header>Смета</header>

                                <ul>
                                    <li>Площадь помещения 9 м2 — <strong>2250 руб</strong></li>
                                    <li>Дополнительные углы  - 0 штук — <strong>0 руб</strong></li>
                                    <li>Профиль по периметру 12 м — <strong>936 руб</strong></li>
                                    <li>Установка люстры на крюк 1 шт - <a href="#" class="hg">подарок</a></li>
                                    <li>Окантовка стояка отопления 1 шт - <strong>300 руб</strong></li>
                                </ul>

                                <img src="images/img-1.jpg" alt=""/>
                            </div>
                        </div>

                        <div class="text-center">
                            <a href="#" class="btn btn-red">Заказать по акции</a>
                        </div>

                        <div class="counter-wrapper">
                            <div class="counter-header">Внимание! До конца акции осталось:</div>
                            <div id="bedroom-counter" class="counter"></div>
                        </div>
                    </div>
                    <div id="living-room" class="tab-content">
                        <h2 class="tab-header">Натяжной потолок <span class="hg">в гостинную</span><br> под ключ</h2>

                        <div class="grid">
                            <div class="left">
                                <div class="block-1">
                                    Площадь: <br>
                                    <span class="hg">9</span> м<span class="sup">2</span>
                                </div>
                                <div class="block-2">Под ключ</div>
                                <div class="block-3">
                                    <div class="price">
                                        Цена: <br>
                                        <span class="hg">3486</span> м<span class="sup">2</span>
                                    </div>
                                </div>
                            </div>

                            <div class="right">
                                <header>Смета</header>

                                <ul>
                                    <li>Площадь помещения 9 м2 — <strong>2250 руб</strong></li>
                                    <li>Дополнительные углы  - 0 штук — <strong>0 руб</strong></li>
                                    <li>Профиль по периметру 12 м — <strong>936 руб</strong></li>
                                    <li>Установка люстры на крюк 1 шт - <a href="#" class="hg">подарок</a></li>
                                    <li>Окантовка стояка отопления 1 шт - <strong>300 руб</strong></li>
                                </ul>

                                <img src="images/img-1.jpg" alt=""/>
                            </div>
                        </div>

                        <div class="text-center">
                            <a href="#" class="btn btn-red">Заказать по акции</a>
                        </div>

                        <div class="counter-wrapper">
                            <div class="counter-header">Внимание! До конца акции осталось:</div>
                            <div id="living-room-counter" class="counter"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-right">
                <div class="cause-gager">
                    <div class="lenta"></div>
                    <div class="peoples"></div>
                    <div class="info">Время приезда замерщика - <br> менее одного часа</div>

                    <div class="header">Вызвать <br> замерщика <br> <strong>бесплатно</strong></div>

                    <form action="form-handler.php" method="post" id="cause-gager-form">
                        <input type="hidden" name="form_id" value="cause_gager">

                        <div class="form-group">
                            <input type="text" name="name" value="" class="form-control" placeholder="Ваше имя"/>
                        </div>

                        <div class="form-group">
                            <input type="text" name="phone" value="" class="form-control" placeholder="Ваш телефон"/>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="submit">Вызвать замерщика!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>