<div class="row-4">
    <div class="container">
        <header>Запишитесь прямо сечас, мы <br> перезвоним вам и обязательно <br>подребём лучшее решение для вас!</header>

        <form action="form-handler.php" method="post" id="record-form">
            <input type="hidden" name="form_id" value="record">

            <div class="form-group">
                <input type="text" name="name" placeholder="Ваше имя">
            </div>

            <div class="form-group">
                <input type="text" name="phone" placeholder="Ваш телефон">
            </div>

            <div class="form-group">
                <button type="submit">Отправить заявку</button>
            </div>
        </form>
    </div>
</div>