<div class="row-2">
    <div class="container">

        <div class="items">
            <div class="row-items">
                <div class="item">
                    <div class="icon icon-clock"></div>
                    <header>2 часа</header>
                    <div class="text">Время выезда замерщика</div>
                </div>

                <div class="item">
                    <div class="icon icon-round"></div>
                    <header>10 лет</header>
                    <div class="text">Гарантия на потолки</div>
                </div>

                <div class="item">
                    <div class="icon icon-light"></div>
                    <header>Профи</header>
                    <div class="text">Все наши сотрудники</div>
                </div>
            </div>

            <div class="row-items">
                <div class="item">
                    <div class="icon icon-coins"></div>
                    <header>Лучшие</header>
                    <div class="text">Цены от производителя</div>
                </div>

                <div class="item">
                    <div class="icon icon-star"></div>
                    <header>100%</header>
                    <div class="text">Качество полотен</div>
                </div>

                <div class="item">
                    <div class="icon icon-gift"></div>
                    <header>Подарок</header>
                    <div class="text">Сервисное <br> обслуживание <br> на 1 год</div>
                </div>
            </div>
        </div>

        <div class="tab-container etabs-justified">
            <ul class="etabs">
                <li class="tab"><a href="#reviews">Отзывы</a></li>
                <li class="tab"><a href="#prices">Наши цены</a></li>
                <li class="tab"><a href="#portfolio">Примеры работ</a></li>
                <li class="tab"><a href="#schema">Схема работы</a></li>
                <li class="tab"><a href="#certificates">Сертификаты</a></li>
            </ul>

            <div id="reviews" class="tab-content">
                //= reviews.html
            </div>

            <div id="prices" class="tab-content">
                <a href="http://lorempicsum.com/futurama/1280/800/3" data-lightbox="gallery-1" data-title="Описание изображения устанавливается с помощью аттрибута data-title прямо в ссылке">
                    <img src="http://lorempicsum.com/futurama/400/250/3" alt="">
                </a>
            </div>

            <div id="portfolio" class="tab-content">
                // portfolio
            </div>

            <div id="schema" class="tab-content">
                // schema
            </div>

            <div id="certificates" class="tab-content">
                // certificates
            </div>
        </div>

        <ul class="tabs-bottom-links">
            <li><a href="#" data-modal data-title="Бесплатный звонок" data-content="Бесплатный звонок" data-form-name="Бесплатный звонок">Бесплатный звонок</a></li>
            <li><a href="#" data-modal data-title="Расчёт стоимости" data-content="Расчёт стоимости" data-form-name="Расчёт стоимости">Расчёт стоимости</a></li>
            <li><a href="#" data-modal data-title="Вызвать замерщика" data-content="Вызвать замерщика" data-form-name="Вызвать замерщика">Вызвать замерщика</a></li>
        </ul>


    </div>
</div>