.row-4 {
    background: url(../images/triangle.png) no-repeat;
    background-position: center;
    height: 621px;
    margin-top: -80px;
    padding-top: 150px;
    box-sizing: border-box;

    header {
        font-size: 36px;
        font-weight: bold;
        color: white;
        text-align: center;
        text-shadow: 0 0 5px rgba(0, 0, 0, .5);
        line-height: 1.2em;
        margin-bottom: 35px;
    }
}

.record-form {
    width: 400px;
    margin: 0 auto;

    .form-control {
        border-radius: 23px;
        padding: 15px 0;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .3);
    }

    .help-block {
        color: white;
    }
    
    .submit {
        background: #1567b0;
        border: 3px solid white;
        border-radius: 23px;
    }
}